<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/myCss.css">  
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="workIndex/css/main.css">
    </head>
    <body class="um-vp bc-bg c-gra" ontouchstart>
       <div class="ub ub-ver ub-fv">
            <!--content-->
            <div class="ub ub-ver uinn2" id="content1">
                <div class="ub ub-f1 uinn2 umh2 ubb" height='1.5em'>
                    <div class="ub ub-ac c-gra-d b-gra-a6 ">
                        <div class="ulev1 t-bla-28 b-red-da2 uinn-5">个人项目</div>        
                     </div>
                </div> 
                <div class="ub ub-f1 uinn2 ub-ver" >
                    <div id="listview1"  class="listview bc-border ubb  "></div>

                </div>         
            </div>
            
            <div class="ub ub-ver uinn2" id="content2">             
                 <div class="ub ub-f1 uinn2 umh2 ubb" height='1.5em'>
                    <div class="ub ub-ac c-gra-d b-gra-a6 ">
                        <div class="ulev1 t-bla-28 b-red-da2 uinn-5">团队项目</div>        
                     </div>
                </div> 
                <div class="ub ub-f1 uinn2 ub-ver" >
                    <div id="listview2"  class="listview bc-border ubb  "></div>
                </div>                    
            </div>
            
            
        </div>
    </body>
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
   <script src="../js/appcan.listview.js"></script>
   <script src="../js/myAppcan.js"></script>
   
 </body>
    <script>
        appcan.ready(function() {
            var lv1 = appcan.listview({
                selector : "#listview1",
                type : "thinLine",
                hasIcon : true,
                hasAngle : false,
                hasSubTitle : false,
                hasCheckbox:false,
                multiLine : 1,
            });
            var lv2 = appcan.listview({
                selector : "#listview2",
                type : "thinLine",
                hasIcon : true,
                hasAngle : false,
                hasSubTitle : false,
                hasCheckbox:false,
                multiLine : 1,
            });
               appcan.request.ajax({
                url:"http://"+ip+"/myProject",
                type:"post",
                dataType:'json',
                async:false,
                success:function(data){
                    console.log(data);
                    var personalListviewArray = [];
                    var teamListviewArray = [];                          
                    $.each(data.data.personalArray,function(i,v){                     
                        personalListviewArray[i] = {
                           title:v.projectName,
                           icon:"../images/projectLogo/projectLogo"+v.logo+".png",
                           pagename : v.projectName,
                           pageurl:"project.html",
                           id:v.projectId
                        } 
                       
                    })
                    lv1.set(personalListviewArray)
                    
                    $.each(data.data.teamListArray,function(i,v){
                       teamListviewArray[i] = {
                           title:v.projectName,
                           icon:"../images/projectLogo/projectLogo"+v.logo+".png",
                           pagename : v.projectName,
                           pageurl:"project.html",
                           id:v.projectId
                        } 
                    })
                    lv2.set(teamListviewArray)
                },
                error:function(errMessage){
                    
                }
            })
            
            lv1.on("click",function(obj,data,subObj){
                        appcan.window.open(data.pagename,data.pageurl,10);
                        appcan.locStorage.remove("projectId");
                        appcan.locStorage.remove("projectName");                      
                        appcan.locStorage.setVal("projectId",data.id)
                        appcan.locStorage.setVal("projectName",data.pagename)                       
                    })
            lv2.on("click",function(obj,data,subObj){
                        appcan.window.open(data.pagename,data.pageurl,10);
                        appcan.locStorage.remove("projectId");
                        appcan.locStorage.remove("projectName");                      
                        appcan.locStorage.setVal("projectId",data.id)
                        appcan.locStorage.setVal("projectName",data.pagename)
            })
        });
 </script>
</html>
