<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="workIndex/css/main.css">
    </head>
    <body class="um-vp bc-bg c-gra" ontouchstart>
       <div class="ub ub-ver ub-fv">
            <!--content-->
            <div class="ub ub-ver uinn-squ1" id="content1">
                <div class="ub">
                    <div class="ub-f1 ub ub-ver ub-ac" id="myTask">
                        <div class="uc-a-squ1 uwh-squ1 c-red1-squ ub ub-ac ub-pc">
                            <div class="uc-a-squ1 uwh-squ1 ub-img squIcon6"></div>
                        </div>
                        <div class="umar-at1 t-gra7 tx-c ulev-squ">
                            我的任务
                        </div>
                    </div>
                    <div class="ub-f1 ub ub-ver ub-ac">
                        <div class="uc-a-squ1 uwh-squ1 c-blu1-squ ub ub-ac ub-pc">
                            <div class="uc-a-squ1 uwh-squ1 ub-img squIcon5"></div>
                        </div>
                        <div class="umar-at1 t-gra7 tx-c ulev-squ">
                            消息
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="ub ub-ver" id="content2"> 
                <div class="ub ub-f1 uinn2 umh2" height='1.5em'>
                    <div class="ut ub-f3 ulev-3 ut-s tx-l ub-rev ub-ae">
                            今天任务
                    </div>
                    <div class=" ub ub-f1  ub-ae">
                         <input class="uhide" type="radio" name="type" id="but1" checked="true">
                <div class="ub ub-f1 ubr b-gra"  onmousedown="appcan.touch('',appcan.elementFor)" ontouchstart="appcan.touch('',appcan.elementFor)" id="header1">
                    <div class="t-gra2 ub-f1 ub ub-ac ub-pc ulev-1" id="byEndTime">
                        截止时间
                    </div>
                </div>
                <input class="uhide" type="radio" name="type" id="but3" >
                <div class="ub ub-f1 ubr b-gra"  onmousedown="appcan.touch('',appcan.elementFor)" ontouchstart="appcan.touch('',appcan.elementFor)">
                    <div class="t-gra2 ub-f1 ub ub-ac ub-pc ulev-1" id="byStatus">
                        重要程度
                    </div>
                </div>                       
                    </div>
                </div>                      
                </div>
            <div class="ub ub-ver ub-f1  c-gra" id="content3">
                <div id="listview"  class="ubt bc-border">
                </div>


            </div>
        </div>
    </body>
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
   <script src="../js/appcan.listview.js"></script>
   <script src="../js/myAppcan.js"></script>
 </body>
    <script>
        appcan.ready(function() {
            var myDate = getDate();
            var myTaskByendTime = {};
            var myTaskByStatus = {};
            var listviewData = [];
            var lv = appcan.listview({
                selector : "#listview",
                type : "thinLine",
                hasIcon : true,
                hasAngle : false,
                hasSubTitle : true,
                multiLine : 1,
            });
             console.log(myDate) 
            appcan.request.ajax({
                url : 'http://'+ip+'/myTaskByendTime',
                type : 'post',
                dataType : 'json',
                async:false,
                data : {
                    myDate: myDate
                },
                success : function(data) {
                   myTaskByendTime = data.data;
                   getListviewData(myTaskByendTime)
                   console.log(myTaskByendTime)
                },
                error : function(errMessage) {
                    // console.log("errMessage"+errMessage);
                 
                }
            });
            appcan.request.ajax({
                url : 'http://'+ip+'/myTaskByStatus',
                type : 'post',
                dataType : 'json',
                async:false,
                data : {
                    myDate: myDate
                },
                success : function(data) { 
                  myTaskByStatus = data.data;
                  console.log(myTaskByStatus)
                },
                error : function(errMessage) {
                    // console.log("errMessage"+errMessage);
                 
                }
            });
            lv.on("click",function(ele,obj,curEle){
            })
                      
           appcan.button("#byStatus", "btn-act", function() {                       
                  getListviewData(myTaskByStatus)  
            })
           appcan.button("#byEndTime", "btn-act", function() {                           
                  getListviewData(myTaskByendTime)  
            })
            appcan.button("#myTask", "btn-act", function() {                           
                  uexWindow.open("myTask","0","myTask.html","0","0","0","0","200");  
            })
            
            
           function getListviewData(data){
                 var myTaskData = {};
                 $.each(data,function(i,v){                    
                       myTaskData={
                           title :  v.taskName,
                           subTitle : v.endTime,
                           id : v.taskId,
                           icon :"../images/statusLogo/urgent"+v.exigenceStatus+".png",
                           pagename : v.taskName,
                           pageurl:"task.html",
                       }
                       listviewData[i]=myTaskData
                   })
                   lv.set(listviewData)
                    lv.on("click",function(obj,data,subObj){
                        appcan.window.open(data.pagename,data.pageurl,10);
                        appcan.locStorage.remove("taskId");
                        appcan.locStorage.remove("taskName");                      
                        appcan.locStorage.setVal("taskId",data.id)
                        appcan.locStorage.setVal("taskName",data.pagename)                       
                    })                                      
                    console.log("发送成功")
             }
             // console.log(getListviewData())
            function getDate(){
                var d = new Date();
                var year = d.getFullYear();
                var month = d.getMonth() + 1;
                var date = d.getDate();
                var day = d.getDay();
                var curDateTime = year;
                if (month > 9)
                    curDateTime = curDateTime + "-" + month;
                else
                    curDateTime = curDateTime + "-0" + month;
                if (date > 9)
                    curDateTime = curDateTime + "-" + date;
                else
                    curDateTime = curDateTime + "-0" + date;
                    return curDateTime
    
                }
                
                
                
                
        });


 </script>
</html>
