<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="workIndex/css/main.css">
    </head>
    <body class="um-vp bc-bg c-gra" ontouchstart>
       <div class="ub ub-ver ub-fv">
            <!--content-->
            <div class="ub ub-ver uinn-squ1" id="content1">
                <div class="ub">
                    <div class="ub-f1 ub ub-ver ub-ac">
                        <div class="uc-a-squ1 uwh-squ1 c-red1-squ ub ub-ac ub-pc">
                            <div class="uc-a-squ1 uwh-squ1 ub-img squIcon5"></div>
                        </div>
                        <div class="umar-at1 t-gra7 tx-c ulev-squ">
                            我的任务
                        </div>
                    </div>
                    <div class="ub-f1 ub ub-ver ub-ac">
                        <div class="uc-a-squ1 uwh-squ1 c-blu1-squ ub ub-ac ub-pc">
                            <div class="uc-a-squ1 uwh-squ1 ub-img squIcon4"></div>
                        </div>
                        <div class="umar-at1 t-gra7 tx-c ulev-squ">
                            日程安排
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="ub ub-ver" id="content2"> 
                <div class="ub ub-f1 uinn2 umh2" height='1.5em'>
                    <div class="ut ub-f3 ulev-3 ut-s tx-l ub-rev ub-ae">
                            今天任务
                    </div>
                    <div class=" ub ub-f1  ub-ae">
                         <input class="uhide" type="radio" name="type" id="but1" checked="true">
                <div class="ub ub-f1 ubr b-gra" onclick="" onmousedown="appcan.touch('',appcan.elementFor)" ontouchstart="appcan.touch('',appcan.elementFor)" id="header1">
                    <div class="t-gra2 ub-f1 ub ub-ac ub-pc ulev-1">
                        截止时间
                    </div>
                </div>
                <input class="uhide" type="radio" name="type" id="but3" >
                <div class="ub ub-f1 ubr b-gra"  onclick="" onmousedown="appcan.touch('',appcan.elementFor)" ontouchstart="appcan.touch('',appcan.elementFor)">
                    <div class="t-gra2 ub-f1 ub ub-ac ub-pc ulev-1">
                        重要程度
                    </div>
                </div>                       
                    </div>
                </div>                      
                </div>
            <div class="ub ub-ver ub-f1  c-gra" id="content3">
                <div id="listview"  class="ubt bc-border">
                </div>


            </div>
        </div>
    </body>
    <script src="../js/appcan.js"></script>
    <script src="../js/appcan.control.js"></script>
   <script src="./../js/appcan.listview.js"></script>
 </body>
    <script>
        appcan.ready(function() {
        });

var lv = appcan.listview({
    selector : "#listview",
    type : "thinLine",
    hasIcon : true,
    hasAngle : false,
    hasSubTitle : true,
    multiLine : 1,
});
lv.set([{
    title : "完成数据库",
    icon:"./css/res/appcan_s.png",
    subTitle:"12:05",
    id:"1"
}, {
    title : "完成界面",
    icon:"./css/res/appcan_s.png",
    subTitle:"12:05",
    id:"2"
}])
lv.on("click",function(ele,obj,curEle){
})
 </script>
</html>
